{% extends 'blog/base.html' %}

{% block content %}
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('../../static/img/bg44-04.png')">
          <div class="carousel-caption d-none d-md-block">
            <p class="lead">در ریاضی یک قدم جلوتر باشید</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://source.unsplash.com/bF2vsubyHcQ/1920x1080')">
          <div class="carousel-caption d-none d-md-block">
            <p class="lead">موفق شدن با شما فاصله ای کوتاه دارد</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('../../static/img/bg44-04.png')">
          <div class="carousel-caption d-none d-md-block">
            <p class="lead">همین حالا شروع کنید</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>  
    </div>

  </header>
  <div>
    <a href="#boroPaeen">
        <div class="arrow-down">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </a>
  </div>

  <!-- Page Content -->
  <section class="py-lg-5" id="boroPaeen">
    <div class="container" >
        <div class="row py-lg-5">
            <div class="col-lg-5">
                <h3 class="text-right">درباره ما</h3>
                <hr>
                <p style="text-align: justify;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
            </div>
            <div class="col-lg-7">
                <img src="../../static/img/jaklin-718.webp" class="img-fluid"  >
            </div>
        </div>
        <hr>
    </div>

  </section>

  <section class="py-lg-3" >
    <div class="container" >
        <div class="row">
            <div class="col-lg-5 mx-auto text-center">
                <h3 class="header-mazaya" >در ریاضی ابر قهرمان شوید</h3>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-timeline5">
                            <div class="timeline">
                                <div class="timeline-icon"><span class="year">قدم اول</span></div>
                                <div class="timeline-content text-right" >
                                    <h3 class="title">متن تصادفی</h3>
                                    <p class="description" style="text-align: justify;">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراپگرها و متون بلکه رون خلاقی و فرهنگ پیشرو د
                                    </p>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-icon"><span class="year">قدم دوم</span></div>
                                <div class="timeline-content text-right" >
                                    <h3 class="title">متن تصادفی</h3>
                                    <p class="description" style="text-align: justify;">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراپگرها و متون بلکه رون خلاقی و فرهنگ پیشرو د
                                    </p>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-icon"><span class="year">قدم سوم</span></div>
                                <div class="timeline-content text-right" >
                                    <h3 class="title">متن تصادفی</h3>
                                    <p class="description" style="text-align: justify;">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراپگرها و متون بلکه رون خلاقی و فرهنگ پیشرو د
                                    </p>
                                </div>
                            </div>
                            <div class="timeline">
                                <div class="timeline-icon"><span class="year">قدم چهارم</span></div>
                                <div class="timeline-content text-right" >
                                    <h3 class="title">متن تصادفی</h3>
                                    <p class="description" style="text-align: justify;">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراپگرها و متون بلکه رون خلاقی و فرهنگ پیشرو د
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="py-lg-5">
    <div class="container row-video">
        <div class="row py-lg-3">
            <div class="col text-right">
                <h5 class="text-muted" >بخش ویدیوها</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            {% for video in videos %}
                <div class="col-lg-4 text-right">
                    <a href="{% url 'blog:video_detail' pk=video.pk %}"><img src="{{ video.cover.url }}" style="max-width: 300px;" alt=""></a>
                    <p class="pt-2">{{ video.title }}</p>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row pb-3 ">
            <div class="col mx-auto">
                <a href="" class="btn btn-block" style="background-color: #962D3E;color: white;">مشاهده همه</a>
            </div>
        </div>
    </div>
  </section>



{% endblock %}