{% extends 'blog/base.html' %}


{% block content %}
  <div class="container pt-5">
    <h2>لطفا وارد شوید</h2>
    <h3>این صفحه مخصوص ادمین است</h3>
    {% if form.errors %}
        <p>رمز عبور یا نام کاربری اشتباه است</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class='btn btn-primary' value="ورود" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
{% endblock %}
